#root {
  width: 100%;
  background-image: linear-gradient(to bottom right, #fff5f5, #ffffff);
}

/* Disable input arrows for Chrome, Safari, etc. */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
